---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	{% if page.categories.size > 1 %}
	{% assign current_subcat = page.categories[1] %}
		<div class="subcat-nav">
			<strong>{{ current_subcat }} 글 모음:</strong>
			<ul>
			{% for post in site.categories[current_subcat] %}
				{% if post.url != page.url %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	{% endif %}


	<div class="post-content">{{ content }}</div>

	<p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>

</article>